@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,700);

* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 101%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  line-height: 26px;
  background: #fff;
  color: #777;
  width: 850px;
  margin: 50px auto;
}
a {
  color: #222;
  text-decoration: none;
}
a,
a:hover,
a:active,
a:visited {
  outline: 0px;
}
a:hover {
  color: #2e449c;
}
img {
  outline: 0;
  border: 0;
}
h1 {
  font-size: 28px;
  line-height: 40px;
  color: #222;
  margin-bottom: 20px;
}
header h1 {
  text-align: center;
}
h2 {
  font-size: 28px;
  color: #2e449c;
  margin-bottom: 21px;
}
h3 {
  font-size: 20px;
  color: #222;
  margin-bottom: 21px;
}
h4 {
  color: #2e449c;
}
p {
  margin-bottom: 20px;
}
nav {
  overflow: hidden;
  border-top: 1px solid #2e449c;
  border-bottom: 1px solid #2e449c;
  padding: 10px 0;
}
nav li {
  list-style: none;
  margin-right: 20px;
  font-weight: bold;
  float: left;
}
nav li a.active {
  color: #2e449c;
}
nav.submenu {
  border-top: none;
  margin-bottom: 20px;
}
nav.submenu a {
  font-weight: normal;
}
section.content {
  margin-top: 20px;
}
footer {
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #2e449c;
  font-size: 13px;
  color: #222;
}
footer a {
  color: #2e449c;
}
footer a:hover {
  color: #222;
}
.content ul {
  margin: 1em;
}
.content ul li {
  margin-bottom: 0.5em;
}